@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

@layer base {
  html {
    height: 100%;
    min-height: 100%;
  }
  body {
    font-family: "Ubuntu Mono", monospace;
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
